{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "[[ chart_name ]].fullname" . }}
  labels:
    {{- include "[[ chart_name ]].labels" . | nindent 4 }}
type: Opaque
data: {}
  {{/* Add your secret data here (base64 encoded), for example: */}}
  {{/* password: {{ .Values.password | b64enc | quote }} */}}
{{- end }}
