apiVersion: v1
kind: Service
metadata:
  name: {{ include "[[ chart_name ]].fullname" . }}
  labels:
    {{- include "[[ chart_name ]].labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: [[ container_port_name ]]
      protocol: TCP
      name: [[ container_port_name ]]
  selector:
    {{- include "[[ chart_name ]].selectorLabels" . | nindent 4 }}
