applicationName: homarr

deployment:
  enabled: true
  image:
    repository: ghcr.io/homarr-labs/homarr
    tag: "latest"
  env:
    LOG_LEVEL:
      value: "info"
    SECRET_ENCRYPTION_KEY:
      value: "3abbeac0a8219b4f83c49208647ed6eeb481c785832ac8a612dcd352596e8980"
    DB_DRIVER:
      value: "better-sqlite3"
    DB_DIALECT:
      value: "sqlite"
    DB_URL:
      value: "/appdata/db/db.sqlite"
  readinessProbe:
    enabled: true
    httpGet:
      path: /
      port: http
  livenessProbe:
    enabled: true
    httpGet:
      path: /
      port: http

persistence:
  enabled: true
  mountPVC: true
  mountPath: "/appdata"
  storageSize: 1Gi

service:
  enabled: true
  ports:
    - port: 7575
      name: http
      protocol: TCP
      targetPort: 7575

ingress:
  enabled: true
  ingressClassName: nginx
  hosts:
    - host: homarr.test.local
      paths:
        - path: /
          pathType: Prefix

rbac:
  enabled: true
  serviceAccount:
    enabled: true
