{{- if .Values.externalSecretsOperator.createClusterSecretStore }}
---
{{- if .Values.externalSecretsOperator.namespaced }}
apiVersion: external-secrets.io/v1beta1
kind: SecretStore
{{- else }}
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
{{- end }}
metadata:
  name: {{ .Values.externalSecretsOperator.secretStore.name }}
  {{- if .Values.externalSecretsOperator.namespaced }}
  namespace: {{ .Release.Namespace }}
  {{- end }}
  labels:
    {{- include "bitwarden-eso-provider.labels" . | nindent 4 }}
    {{- with .Values.externalSecretsOperator.secretStore.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.externalSecretsOperator.secretStore.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  provider:
    webhook:
      url: "http://{{ include "bitwarden-eso-provider.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.service.port }}/api/v1/secret"
      method: POST
      headers:
        Content-Type:
          - "application/json"
        Authorization:
          - "Bearer {{ `{{ .token }}` }}"
      secrets:
        - name: token
          secretRef:
            name: {{ include "bitwarden-eso-provider.apiTokenSecretName" . }}
            {{- if .Values.externalSecretsOperator.namespaced }}
            namespace: {{ .Release.Namespace }}
            {{- end }}
            key: {{ .Values.api.existingSecret.key }}
      body: |
        {
          "itemId": "{{ `{{ .remoteRef.key }}` }}",
          "field": "{{ `{{ .remoteRef.property | default "password" }}` }}"
        }
      result:
        jsonPath: "$.value"
      timeout: 10s
{{- end }}
