apiVersion: v2
name: [[ chart_name ]]
description: [[ chart_description ]]

type: application

version: [[ chart_version ]]

keywords:
  - [[ chart_name ]]
  - kubernetes

home: https://github.com/codefuturist/helm-charts
sources:
  - https://github.com/codefuturist/helm-charts

maintainers:
  - name: [[ maintainer_name ]]
    email: [[ maintainer_email ]]

icon: https://raw.githubusercontent.com/codefuturist/helm-charts/main/.github/icon.png

appVersion: "[[ app_version ]]"

annotations:
  # Marks this chart as generated/managed by the chart-copier Copier template.
  # Update with: ./tools/update-charts.sh <chart-path>
  copier-managed: "true"
