---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: restic-backup

resources:
  - ../../base

patches:
  - path: helmrelease-patch.yaml
    target:
      kind: HelmRelease
      name: restic-backup
