apiVersion: v1
kind: Service
metadata:
  name: {{ include "home-assistant.fullname" . }}
  namespace: {{ include "home-assistant.namespace" . }}
  labels:
    {{- include "home-assistant.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  {{- if and (eq .Values.service.type "LoadBalancer") .Values.service.loadBalancerIP }}
  loadBalancerIP: {{ .Values.service.loadBalancerIP }}
  {{- end }}
  {{- with .Values.service.loadBalancerSourceRanges }}
  loadBalancerSourceRanges:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.service.externalTrafficPolicy }}
  externalTrafficPolicy: {{ . }}
  {{- end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      {{- if and (eq .Values.service.type "NodePort") .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
    {{- if .Values.codeserver.enabled }}
    - port: {{ .Values.codeserver.port }}
      targetPort: code
      protocol: TCP
      name: code
    {{- end }}
    {{- if .Values.mqtt.enabled }}
    - port: {{ .Values.mqtt.port }}
      targetPort: mqtt
      protocol: TCP
      name: mqtt
    {{- end }}
  selector:
    {{- include "home-assistant.selectorLabels" . | nindent 4 }}
