# Example ConfigMap for defining databases externally
# This can be used with postgresql.externalResources.databasesConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgresql-databases
  namespace: default
data:
  databases.yaml: |
    - name: myapp_db
      owner: myapp_user
      encoding: UTF8
      lc_collate: en_US.UTF-8
      lc_ctype: en_US.UTF-8
      template: template0
    - name: analytics_db
      owner: postgres
      encoding: UTF8
    - name: staging_db
      owner: myapp_user
