{{- if and .Values.rbac.create .Values.serviceAccount.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "home-assistant.fullname" . }}
  namespace: {{ include "home-assistant.namespace" . }}
  labels:
    {{- include "home-assistant.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "home-assistant.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "home-assistant.serviceAccountName" . }}
    namespace: {{ include "home-assistant.namespace" . }}
{{- end }}
