apiVersion: v2
name: [[ chart_name ]]
description: [[ chart_description ]]
type: application
version: 0.1.0
appVersion: "[[ app_version ]]"
maintainers:
  - name: [[ maintainer_name ]]
    email: [[ maintainer_email ]]
dependencies:
  - name: common
    version: 2.x.x
    repository: "file://../../libs/common"
