---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mailrise

resources:
  - ../../base

patches:
  - path: helmrelease-patch.yaml
    target:
      kind: HelmRelease
      name: mailrise
