name: Publish Helm Chart

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Helm
        uses: azure/setup-helm@v1
      - name: Package Helm Chart
        run: helm package ./application
      - name: Update Helm repo index
        run: helm repo index . --url https://codefuturist.github.io/application/
      - name: Commit packaged chart
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit -m "Update chart repository"
          git push origin gh-pages
