---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bitwarden-eso-provider

resources:
  - ../../base

patches:
  - path: helmrelease-patch.yaml
    target:
      kind: HelmRelease
      name: bitwarden-eso-provider
