{{- if not .Values.shlink.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "shlink.fullname" . }}
  namespace: {{ include "shlink.namespace" . }}
  labels:
    {{- include "shlink.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if .Values.shlink.initialApiKey }}
{{- printf "initial-api-key: %s" (.Values.shlink.initialApiKey | b64enc | quote) | nindent 2 }}
  {{- end }}
  {{- if .Values.shlink.geoLiteLicenseKey }}
{{- printf "geolite-license-key: %s" (.Values.shlink.geoLiteLicenseKey | b64enc | quote) | nindent 2 }}
  {{- end }}
  {{- if and .Values.database.password (not .Values.database.existingSecret) }}
{{- printf "database-password: %s" (.Values.database.password | b64enc | quote) | nindent 2 }}
  {{- end }}
{{- end }}
